# Backend Secrets & Heavy Dependencies
bed-exit-backend/node_modules/
bed-exit-backend/.env
# Firebase service account key
bed-exit-backend/bed-exit-alert-firebase-adminsdk-fbsvc-b909edf899.json

bed-exit-firmware/src/secrets.h

# PlatformIO Compiled Build Files
bed-exit-firmware/.pio/
bed-exit-firmware/.vscode/
bed-exit-firmware/.clang-format

# Logs & System Files
*.log
.DS_Store
Thumbs.db

# Wildcard - Ignore any Firebase Admin SDK keys specifically
*-adminsdk-*.json